@import "../mixins";

@include desktop{
	.container{
		font-family: NanumSquareB;
		font-size: 20px;
		.landing0{
			width:100%;
			background: white;
			padding:100px 10% 20px 10%;

			display: flex;
			align-items: center;
			flex-direction: column;
			
			.inner_container{
				width:1000px;
				// background: green;
				.landing0_text1{
					font-size:36px;
					
					.highlight{
						color:#2257F6;
					}
					.landing0_image{
						width: 36px;
						height: 36px;
						margin-left: 10px;
					}
				}			
				.landing0_text2{
					font-family: NanumSquareR;
					font-size:16px;
					margin-bottom: 20px;
					margin-top: 20px;
				}	
				.preopen{
					font-family: NanumSquareEB;
					font-size: 20px;
					border-style: solid;
					border-radius: 20px;
					padding: 5px 20px 5px 20px;
					width: 125px;
					margin-top: 40px;
					color: white;
					background: #2a5efa;
					// border-style: solid;
					border-color: #2a5efa;
					box-shadow: 0px 0px 12px 1px #5781FF;
				}
			}
		}
		.landing1{
			width:100%;
			background: linear-gradient(white, #D1DDFF);
			padding: 80px 0 80px 0;

			display: flex;
			justify-content: center;
		
			.inner_container{		
				width:1000px;	
				// background: green;
				display: flex;
				flex-direction: column;
				align-items: center;

				.landing1_text{
					width: 100%;
					padding-bottom: 40px;
				}				
				.landing1_image{
					height: 200px;
				}
			}
		}
		.landing2{
			width:100%;
			background: white;
			padding: 80px 0 80px 0;

			display: flex;
			justify-content: center;
		
			.inner_container{		
				width:1000px;	
				// background: green;
				display: flex;
				flex-direction: column;
				align-items: center;

				.landing2_text{
					width: 100%;
					padding-bottom: 40px;
				}				
				.landing2_image{
					height: 200px;
				}
			}
		}
		.landing3{
			width:100%;
			background: #2257F6;
			padding:120px 10% 120px 10%;

			display: flex;
			align-items: center;
			justify-content: center;
			
			.landing3_text_container{
				color:white;
				width: 400px;	
				.landing3_text1{
					font-size:12px;
					margin-bottom: 30px;
				}	
				.landing3_text2{
					font-family: NanumSquareR;
					font-size:16px;
					margin-bottom: 20px;
					margin-top: 30px;
				}	
			}				
			.landing3_image{
				margin-left:80px;
				width: 390px;
			}
		}
		.landing4{
			width:100%;
			background: black;
			padding:120px 10% 120px 10%;

			display: flex;
			align-items: center;
			justify-content: center;
			
			.landing4_text_container{
				color:white;	
				width: 400px;	
				.landing4_text1{
					font-size:12px;
					margin-bottom: 30px;
				}	
				.landing4_text2{
					font-family: NanumSquareR;
					font-size:16px;
					margin-bottom: 20px;
					margin-top: 30px;
				}	
			}				
			.landing4_image{
				margin-left:80px;
				width: 390px;
			}
		}
	}
}

@include tablet{
	.container{
		font-family: NanumSquareB;
		font-size: 16px;
		.landing0{
			width:100%;
			background: white;
			padding:100px 10% 10px 10%;

			display: flex;
			// align-items: center;
			flex-direction: column;
			
			.inner_container{
				// background: green;
				.landing0_text1{
					font-family: NanumSquareEB;
					font-size:28px;
					
					.highlight{
						color:#2257F6;
					}
					.landing0_image{
						width: 28px;
						height: 28px;
						margin-left: 10px;
					}
				}			
				.landing0_text2{
					font-family: NanumSquareR;
					font-size:12px;
					margin-bottom: 20px;
					margin-top: 20px;
				}	

				.preopen{
					font-family: NanumSquareEB;
					font-size: 16px;
					border-style: solid;
					border-radius: 30px;
					padding: 10px 20px 10px 20px;
					width: 110px;
					margin-top: 40px;
					color: white;
					background: #2a5efa;
					// border-style: solid;
					border-color: #2a5efa;
					box-shadow: 0px 0px 12px 1px #5781FF;
				}
			}
		}
		.landing1{
			width:100%;
			background: linear-gradient(white, #D1DDFF);
			padding: 60px 0 60px 0;

			display: flex;
		
			.inner_container{	
				// background: green;
				width: 100%;
				display: flex;
				flex-direction: column;

				.landing1_text{
					margin: 0 10% 60px 10%;
					padding-bottom: 40px;
				}	
						
				.landing1_image{
					// width: 100%;
					// height:270px;
					object-fit: cover;
				}
				@include tablet{
					.landing1_image{
						// width: 100%;
						// height:270px;
						object-fit: contain;
					}
				}	
			}
		}

		.landing2{
			width:100%;
			background: white;
			padding: 80px 0 80px 0;

			display: flex;
		
			.inner_container{		
				// background: green;
				width: 100%;
				display: flex;
				flex-direction: column;
				// align-items: center;

				.landing2_text{
					margin: 0 10% 20px 10%;
					padding-bottom: 40px;
				}				
				.landing2_image{
					width: 320px;
					align-self: center;
					object-fit: contain;
				}
			}
		}

		.landing3{
			width:100%;
			background: #2257F6;
			padding:40px 10% 40px 10%;

			display: flex;
			flex-direction: column;
			// align-items: center;
			// justify-content: center;
			
			.landing3_text_container{
				color:white;
				.landing3_image_container{				
					width: 100%;
					display: flex;
					justify-content: center;
					margin-bottom: 30px;
					.landing3_image{
						width:320px;
					}
				}
				.landing3_text1{
					font-size:12px;
					margin-bottom: 30px;
				}	
				.landing3_text2{
					font-family: NanumSquareR;
					font-size:12px;
					margin-top: 30px;
				}	
			}		
			
		}

		.landing4{
			width:100%;
			background: black;
			padding:40px 10% 80px 10%;

			display: flex;
			flex-direction: column;
			// align-items: center;
			// justify-content: center;
			
			.landing4_text_container{
				color:white;
				.landing4_image_container{				
					width: 100%;
					display: flex;
					justify-content: center;
					margin-bottom: 30px;
					.landing4_image{
						width:320px;
					}
				}
				.landing4_text1{
					font-size:12px;
					margin-bottom: 30px;
				}	
				.landing4_text2{
					font-family: NanumSquareR;
					font-size:12px;
					margin-top: 30px;
				}	
			}				
		}

		// .landing4{
		// 	width:100%;
		// 	background: black;
		// 	padding:120px 10% 120px 10%;

		// 	display: flex;
		// 	align-items: center;
		// 	justify-content: center;
			
		// 	.landing4_text_container{
		// 		color:white;	
		// 		width: 400px;	
		// 		.landing4_text1{
		// 			font-size:12px;
		// 			margin-bottom: 30px;
		// 		}	
		// 		.landing4_text2{
		// 			font-family: NanumSquareR;
		// 			font-size:16px;
		// 			margin-bottom: 20px;
		// 			margin-top: 30px;
		// 		}	
		// 	}				
		// 	.landing4_image{
		// 		margin-left:80px;
		// 		width: 390px;
		// 	}}
	}
}

@include mobile{
	.container{
		font-family: NanumSquareB;
		font-size: 16px;
		.landing0{
			width:100%;
			background: white;
			padding:100px 10% 10px 10%;

			display: flex;
			// align-items: center;
			flex-direction: column;
			
			.inner_container{
				// background: green;
				.landing0_text1{
					font-family: NanumSquareEB;
					font-size:28px;
					
					.highlight{
						color:#2257F6;
					}
					.landing0_image{
						width: 28px;
						height: 28px;
						margin-left: 10px;
					}
				}			
				.landing0_text2{
					font-family: NanumSquareR;
					font-size:12px;
					margin-bottom: 20px;
					margin-top: 20px;
				}	

				.preopen{
					font-family: NanumSquareEB;
					font-size: 16px;
					border-style: solid;
					border-radius: 30px;
					padding: 10px 20px 10px 20px;
					width: 110px;
					margin-top: 40px;
					color: white;
					background: #2a5efa;
					// border-style: solid;
					border-color: #2a5efa;
					box-shadow: 0px 0px 12px 1px #5781FF;
				}
			}
		}
		.landing1{
			width:100%;
			background: linear-gradient(white, #D1DDFF);
			padding: 60px 0 60px 0;

			display: flex;
		
			.inner_container{	
				// background: green;
				width: 100%;
				display: flex;
				flex-direction: column;

				.landing1_text{
					margin: 0 10% 60px 10%;
					padding-bottom: 40px;
				}	
						
				.landing1_image{
					// width: 100%;
					// height:270px;
					object-fit: cover;
				}
				@include tablet{
					.landing1_image{
						// width: 100%;
						// height:270px;
						object-fit: contain;
					}
				}	
			}
		}

		.landing2{
			width:100%;
			background: white;
			padding: 80px 0 80px 0;

			display: flex;
		
			.inner_container{		
				// background: green;
				width: 100%;
				display: flex;
				flex-direction: column;
				// align-items: center;

				.landing2_text{
					margin: 0 10% 20px 10%;
					padding-bottom: 40px;
				}				
				.landing2_image{
					width: 320px;
					align-self: center;
					object-fit: contain;
				}
			}
		}

		.landing3{
			width:100%;
			background: #2257F6;
			padding:40px 10% 40px 10%;

			display: flex;
			flex-direction: column;
			// align-items: center;
			// justify-content: center;
			
			.landing3_text_container{
				color:white;
				.landing3_image_container{				
					width: 100%;
					display: flex;
					justify-content: center;
					margin-bottom: 30px;
					.landing3_image{
						width:320px;
					}
				}
				.landing3_text1{
					font-size:12px;
					margin-bottom: 30px;
				}	
				.landing3_text2{
					font-family: NanumSquareR;
					font-size:12px;
					margin-top: 30px;
				}	
			}		
			
		}

		.landing4{
			width:100%;
			background: black;
			padding:40px 10% 80px 10%;

			display: flex;
			flex-direction: column;
			// align-items: center;
			// justify-content: center;
			
			.landing4_text_container{
				color:white;
				.landing4_image_container{				
					width: 100%;
					display: flex;
					justify-content: center;
					margin-bottom: 30px;
					.landing4_image{
						width:320px;
					}
				}
				.landing4_text1{
					font-size:12px;
					margin-bottom: 30px;
				}	
				.landing4_text2{
					font-family: NanumSquareR;
					font-size:12px;
					margin-top: 30px;
				}	
			}				
		}

		// .landing4{
		// 	width:100%;
		// 	background: black;
		// 	padding:120px 10% 120px 10%;

		// 	display: flex;
		// 	align-items: center;
		// 	justify-content: center;
			
		// 	.landing4_text_container{
		// 		color:white;	
		// 		width: 400px;	
		// 		.landing4_text1{
		// 			font-size:12px;
		// 			margin-bottom: 30px;
		// 		}	
		// 		.landing4_text2{
		// 			font-family: NanumSquareR;
		// 			font-size:16px;
		// 			margin-bottom: 20px;
		// 			margin-top: 30px;
		// 		}	
		// 	}				
		// 	.landing4_image{
		// 		margin-left:80px;
		// 		width: 390px;
		// 	}}
	}
}