.header-container{
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding : 30px 40px;
	.header-logo{
		font-family: NanumSquareEB;
		font-size: 16px;
		color: black;
	}
	.header-login{
		font-family: NanumSquareR;
		font-size: 12px;
	}
	.header-profile-image{
		width: 30px;
		height: 30px;
		border-radius: 15px;
		object-fit: cover;
	}
}