.pc-container {
    font-size: 15px;
    width: 100%;
    text-align: center;
    padding: 50px;
    align-items: center;
    display: flex;
    color: rgb(121, 121, 121);
    background-color: rgb(255, 255, 255);

    .anticon {
        svg {
            font-size: 20px;
            margin-right: 20px;
            color: gray;

            &:hover {
                color: #007aff;
            }
        }
    }
}

.mobile-container {
    font-size: 15px;
    text-align: center;
    padding: 50px;
    align-items: center;
    display: flex;
    color: rgb(121, 121, 121);
    background-color: rgb(255, 255, 255);

    .anticon {
        svg {
            font-size: 20px;
            margin-right: 20px;
            color: gray;
        }
    }
}